<div class="min-h-screen w-screen bg-backgroundPink m-0 p-0">
  <header class="navbar bg-backgroundLightPink shadow-sm px-4 lg:px-20">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">Cynthia Aguero</a>
    </div>
    <nav class="flex-none">
      <ul class="menu menu-horizontal px-1 space-x-4">
        <li><a href="#projects" class="hover:text-pink-600">Projects</a></li>
        <li><a href="#resume" class="hover:text-pink-600">Resume</a></li>
        <li><a href="#contact" class="hover:text-pink-600">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="hero min-h-screen px-4 lg:px-20">
    <div class="hero-content flex-col lg:flex-row-reverse max-w-6xl mx-auto w-full gap-10">
      <div class="lg:w-1/2 flex justify-center">
        <img
          src={~p"/images/picture_of_me.jpeg"}
          alt="Picture of Cynthia Aguero"
          class="max-w-sm rounded-lg shadow-2xl"
        />
      </div>
      <div class="lg:w-1/2 text-center lg:text-left">
        <h1 class="text-4xl lg:text-6xl font-bold">Hi, I'm Cynthia</h1>
        <h2 class="text-2xl lg:text-2xl font-bold">Software Engineer at DraftKings</h2>
        <p class="py-6 text-base lg:text-lg">
          Thanks for checking out my portfolio! Explore my projects, resume, and get in touch!
        </p>
      </div>
    </div>
  </main>
</div>
